
<div class="container">
	<div class="row">
		<h2>Editing Book</h2>
		<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
		<%= render 'layouts/error_messages', model: f.object %>
		    <h4>Title</h4>
		    <%= f.text_field :title %>

		    <h4>Opinion</h4>
		    <%= f.text_area :body %>


		 <div>
		    <%= f.submit 'Update Book', class: "btn btn-primary btn-block" %>
		 </div>
		<% end %>
		<%= link_to "Show", user_path(@user) %> | <%= link_to "Back", books_path %>
	</div>
</div>
